.trainers {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../../img/gym-1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	padding: 0.5rem calc((100vw - 1200px) / 2);
	display: flex;
	justify-content: flex-start;
	align-items: center;

	&__content {
		color: $white;
		padding: 3rem 1rem;
		line-height: 1;
	}

	&__title {
		font-size: clamp(3rem, 8vw, 7rem);
		text-transform: uppercase;
		margin-bottom: 0.5rem;
	}

	&__price {
		font-size: clamp(1rem, 4vw, 2.5rem);
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 3rem;
	}
}