* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  body.active {
    overflow-y: hidden;
    overflow-x: hidden;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul {
  list-style-type: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  height: 60px;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  position: relative;
}
.navbar__logo {
  font-size: 1.3rem;
  color: #fff;
  font-weight: 900;
  padding-left: 1rem;
  text-transform: uppercase;
}
.navbar__link {
  color: #fff;
  padding: 0rem 1rem;
}
.navbar__link:hover {
  color: #f9032f;
}
@media screen and (max-width: 768px) {
  .navbar__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .navbar__menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 100px);
    position: absolute;
    top: -1000px;
    width: 100%;
  }
  .navbar__menu.active {
    top: 100%;
    opacity: 1;
    height: 100vh;
    font-size: 1.5rem;
    background-color: #000;
    z-index: 99;
  }
}
@media screen and (max-width: 768px) {
  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
    display: block;
    cursor: pointer;
  }
}

#mobile-menu {
  position: absolute;
  top: 15%;
  right: 5%;
  transform: translate(5%, 20%);
}
#mobile-menu.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
#mobile-menu.active .bar:nth-child(2) {
  opacity: 0;
}
#mobile-menu.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}