* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
html {
	height: 100%;
}

body {
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;

	@media screen and (max-width:768px) {
		&.active {
			overflow-y: hidden;
			overflow-x: hidden;
		}
	}
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

ul {
	list-style-type: none;
}

ul,
li {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}