* {
	box-sizing: border-box;
}

body,
html {
	height: 100%;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

ul {
	list-style-type: none;
}

ul,
li {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}